.backgroundContainerCivilization {
    font-family: 'Montserrat', sans-serif;
    height:100%;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    color:white;
    min-height: 100vh;
  }
  