.backgroundContainer {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-image: url("../img/background1.jpg");
  background-size: cover;
  color:white;
}

.btn{
  background-color: #2827ad;
}

.homeMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;

}

.homeMenu .card {
  
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color:rgba(206, 68, 42, 0.3);
  border-radius: 20px;

}
.homeMenu .card img {
  position: relative;
  right: 34px;
  bottom: 40px;
}
.cardSecondHome{
  
  background-color: rgba(206, 68, 42, 0.4);
  border-radius: 20px;

}
.cardSecondHome img {
  position: relative;
  right: 7px;
  bottom: 50px;
}
