.wholePupop {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.cerrarLoginCruz {
    background-image: url(https://thumbs.dreamstime.com/b/cruz-de-la-espada-espadas-3237137.jpg);
    width: 42px;
    height: 42px;
    margin-left: 90%;
    background-size: cover  ;
    background-color: transparent;

}

.cerrarLoginCruz:hover {
    cursor: pointer;
}

.loginModal {
    background-image: url("../img/oldPaper2.jpg");
    width: 40%;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    opacity: 0.9;
}
#signUpModal{
    height: 600px;
    z-index: 11;
    opacity: 0.9;
}

.signInTitle {
    background-color: transparent;
    text-align: center;
    color: white;
    margin-top: 60px;
}

.loginModal input {
    width: 80%;
    height: 40px;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
}

.loginModal :nth-child(2n) {
    width: 80%;
    height: 40px;
    text-align: center;
}

.signInButton {
    width: 80%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 30px;
}

.publiDisney {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: contain;

}